/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('./files/img/2.jpg');
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
    background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}

.mysocial {
    background-color: white;
    border-radius: 4px;
    color: #640D6B;
    padding: 6px;
    text-decoration: none;
}

.mysocial a {
    text-decoration: none;
    color: #640D6B;
    padding-bottom: 10px;
}

header {
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    /* background: url('hero-bg.jpg') no-repeat center center/cover; */
    color: #fff;
    text-align: center;
    padding: 90px 0;
    height: 100vh;
}

.hero h1 {
    font-size: 2em;
    margin-top: 20px;
}

.hero h2 {
    margin-top: 5px;
    color: #cacaca;
}

.hero p {
    font-size: 1.2em;
}

.services {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(30% - 40px);
    background-color: #33333364;
    box-shadow: 5px 10px 15px  rgb(25, 24, 24);
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    transform: translateY(-10px);
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}



.contact {
    padding: 50px 0;
    text-align: center;
    color: white;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}



footer {
    color: #F8F9D7;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
